
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<style>
    .custom-container {
        border: 5px solid rgb(0, 0, 0);
        background-color: rgb(255, 242, 183);
        box-shadow: 5px 10px rgb(83, 83, 83);
        text-align: center;
        padding: 20px;
        margin: 20px auto;
        max-width: 500px;
    }
</style>
    <title>Home</title>
</head>
<body>
{% include 'nav.html' %}
<div class="custom-container">
<h1>Weather Forecast for {{ location }}</h1>
{% for day in forecast %}
<p>{{ day.day_of_week }} | {{ day.date }}</p>
<p>{{ day.day.condition.text }}</p>
<img src="{{ day.day.condition.icon }}" alt="Weather icon"/>
<p>Low of {{ day.day.mintemp_f }}°F | High of {{ day.day.maxtemp_f }}°F</p>
<hr />
{% endfor %}
</div>
</body>
</html>

